.pokedex {
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include outer-container;

  &__entry {
    border: .0625rem solid lighten($topaz, 10%);
    border-radius: .3125rem;
    box-shadow: $box-shadow-default;

    @include span-columns(3);
    @include omega(4n);

    &:nth-child(n+5) {
      margin-top: 1.5rem;
    }
  }
}
