.pokemon {
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;

  &__image {
    margin: 1.25rem 0;
    width: 9.375rem;
    height: 9.375rem;
  }

  &__info {
    margin: 1rem 0;
  }

  &__number {
    font-size: .9rem;
    font-weight: bold;
    color: $gull-gray;
  }

  &__name {
    margin: .5rem 0 1rem;
    font-size: 1.3rem;
    font-weight: bold;
  }

  &--caught {
    &:before {
      content: $caught-text;
      position: absolute;
      top: .9375rem;
      left: -2.6875rem;
      padding: .625rem 0;
      width: 9.375rem;
      font-size: .9rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
      transform: rotate(-45deg);
      background-color: $blue-bayoux;
    }

    &:hover {
      &:before {
        content: $release-text;
        background-color: $deep-blush;
      }
    }
  }
}
