.spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: $spinner-overlay;
  background-image: url('images/spinner.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity $transition-duration-default ease-in-out,
              visibility $transition-duration-default ease-in-out;

  &--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
