{
  "extends": "airbnb-base",

  "plugins": ["import"],

  "env": {
    "mocha": true,
    "browser": true,
  },

  "globals": {
    "expect": true,
    "fixture": true,
    "sinon": true,
  },

  "settings": {
    "import/parser": "babel-eslint",

    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
