$transition-duration-default: .35s;
$spinner-overlay: rgba(0,0,0,.65);

$blue-bayoux: #4c6276;
$topaz: #c9d9e8;
$gull-gray: #9aa6b2;
$deep-blush: #eb6888;
$white: #fff;

$font-default: 'Open Sans', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-base-size: 16px;

$box-shadow-default: 0 .0625rem .125rem rgba(0,0,0,0.07);

$caught-text: 'Caught!';
$release-text: 'Release?';
